<div  class="task-container" *ngIf="task">
    <label>
        <input type="checkbox" [(ngModel)]="task.completed" (change)="check()">
    </label>
    <div class="task-content">
        <div class="task-titel">
            <span>{{task.priority}}</span>
            <h3>{{task.name}}</h3>
        </div>
        <p>{{task.description}}</p>
    </div>
</div>
<!--
    {
        "name": "3",
        "description": "3",
        "assignedTo": ["62755f25d840778792110ab4", "62755f12d840778792110aaf"],
        "completed": false,
        "priority": "MEDIUM"
    }
-->
