<nav class="navigationWrapper">
    <div class="logoWrapper">
        <img id="logo" src="../assets/logo.png" alt="logo">
    </div>
    <ul class="navigation">
        <li class="parent"><a class="link" href="/">Home</a></li>
        <li id="sign-out" class="parent" [hidden]="!isLogged" (click)="logout()" ><a class="link" href="#">Sign out</a></li>
        <li id="sign-in" class="parent" [hidden]="isLogged"><a class="link" href="/login">Sign in</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>
