/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.delete-btn:hover,
.check-btn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.delete-btn,
.check-btn {
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.delete-btn {
    color: #ff7f82;
}

.check-btn {
    color: #00be39
}

.check-btn:hover {
    border-color: var(--hover);
    color: #08d746;
}

.delete-btn:hover {
    border-color: var(--hover);
    color: #da6264;
}
